<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="form">
        <div class="title">Weather :(</div>
        <div class="subtitle"><%= city %> Not Found. </div>
        <div class="subtitle">Please enter a valid City Name. </div>
        
  
          
  <!--         <div class="cut"></div>
          <label for="firstname" class="placeholder">City Name</label>
        </div> -->
        
  <!--       <button type="text" class="submit">submit</button> -->
      </div>
    
</body>
</html>